<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Student Dashboard</title>
    <style>
 
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-3 sidebar">
                <a href="/dashboard"><i class="fa fa-home"></i> Home</a>
                <a href="/student-application"><i class="fa fa-file"></i>Applications</a> 
                <a href="/logsheet"><i class="fa fa-clipboard"></i> Logsheets</a>
                <a href="#"><i class="fa fa-clock-o"></i> Logbookhs</a>
                <a href="#"><i class="fa fa-book"></i> Activities</a>
                <a href="#"><i class="fa fa-book"></i> Organizations</a>
                <a href="#"><i class="fa fa-user"></i> Guest Lecture</a>                 
            </div>
            <!-- Main content -->
            <div class="col-md-9">
                <div class="row">
                    <!-- Card 1: My Details -->
                    <div class="col-md-4 mb-4">
                        <div class="card shadow">
                            
                            <div class="card-header">
                                {{applicationCard}}
                              </div>

                              <div class="card-body text-center">
                                <div>
                                  <i class="fa fa-file fa notification-icon"></i>
                                </div>
                              </div>

                              <!-- matBadge="2"
                              matBadgePosition="above after"
                              matBadgeColor="accent"
                              matBadgeSize="small"
                              aria-hidden="true" -->

                            <div class="card-footer">
                                <a href="#">View Applications<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Card 2: Tasks -->
                    <div class="col-md-4 mb-4">
                        <div class="card shadow">
                            <div class="card-header">Logsheets</div>
                            <div class="card-body text-center">
                                <i class="fa fa-clipboard fa-3x" aria-hidden="true"></i>
                            </div>
                            <div class="card-footer">
                                <a href="#">View Logsheets <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Card 3: Time Sheet -->
                    <div class="col-md-4 mb-4">
                        <div class="card shadow">
                            <div class="card-header">Log Book</div>
                            <div class="card-body text-center">
                                <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
                            </div>
                            <div class="card-footer">
                                <a href="#">View Logbook <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Card 4: Attendance -->
                    <div class="col-md-4 mb-4">
                        <div class="card shadow">
                            <div class="card-header">Activities</div>
                            <div class="card-body text-center">
                                <i class="fa fa-book fa-3x" aria-hidden="true"></i>
                            </div>
                            <div class="card-footer">
                                <a href="#">View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Card 3: Add Municipality -->
                    <div class="col-md-4 mb-4">
                        <div class="card shadow">
                            <div class="card-header">Organizations</div>
                            <div class="card-body text-center">
                                <i class="fa fa-user fa-3x" aria-hidden="true"></i>
                            </div>
                            <div class="card-footer">
                                <a href="#">View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>

                    <!-- Card 5: Leave -->
                    <div class="col-md-4 mb-4">
                        <div class="card shadow">
                            <div class="card-header">Guest Lectures</div>
                            <div class="card-body text-center">
                                <i class="fa fa-user fa-3x" aria-hidden="true"></i>
                            </div>
                            <div class="card-footer">
                                <a href="#">View Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
