<footer class="footer bg-warning text-white py-3">
    <div class="footer-content">
      <p class="footer-item mb-0">FACULTY OF NATURAL <span style="color: ghostwhite">SCIENCES</span></p>
      <p class="footer-item mb-0">DEPARTMENT OF <span style="color: ghostwhite">ENVIRONMENTAL HEALTH</span></p>
    </div>
  
    <div class="footer-logo-container">
      <img src="./mut-45yearslogo-whitetrans1024x362-12@2x.png" alt="MUT 45 Years Logo" class="footer-logo">
    </div>
  
    <div class="footer-content">
      <p class="footer-item mb-0">Tel: 031 9077653 | Fax: <span style="color: ghostwhite">031 9077655</span></p>
      <p class="footer-item mb-0">
        E-mail: <a href="mailto:poswa&#64;mut.ac.za" class="text-white">poswa&#64;mut.ac.za</a>
      </p>
      <p class="footer-item mb-0">Head of Department: <span style="color: ghostwhite">Dr. TT Poswa</span></p>
    </div>
  </footer>
  