        /* Full height for html and body */
        html, body {
            height: 100%;
            margin: 0;
            padding-top: 0px;
        }

        /* Scrollable container */
        .scrollable-container {
            height: 100vh; /* Full view height */
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow-y: auto; /* Enables vertical scrolling */
        }

        .login-form-container {
            width: 100%;
            max-width: 400px;
            margin: auto; /* Centering form */

        }

        /* Form control size */
        .form-control-lg {
            font-size: 1.25rem;
        }

        /* Adjust layout for smaller screens */
        @media (max-width: 768px) {
            .login-form-container {
                padding: 05px;
                padding-bottom: 05px;
            }
        }
        /* Ensure the footer sticks to the bottom */
footer {
    width: 100%;
    background-color: #ffc40c; /* Footer background color */
    text-align: center;
    margin-top: auto; /* Ensures footer is at the bottom when content is short */
}

/* Footer container layout */
.footer {
    display: flex;
    align-items: center;
    padding: 20px;
}

.footer p {
    font-weight: bolder;
}

/* Environmental Health Title */
.footer-title-container {
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
}

/* Footer Icons */
.footer-icon, .mut-45-years-logo-white-trans-icon1 {
    max-height: 50px;
    align-items: end;
}

/* Footer Links Container */
.footer-links-container {
    display: inline-block;
    text-align: center;
}

/* Ensure text in the footer is white */
.footer .enviromental-health1 {
    color: white;
    align-items: end;
}

/* Optional: Style the container holding images */
.img {
    padding-left: 20%;
}/* Ensure the footer sticks to the bottom */
footer {
    width: 100%;
    background-color: #ffc40c; /* Footer background color */
    text-align: center;
    margin-top: auto; /* Ensures footer is at the bottom when content is short */
}

/* Footer container layout */
.footer {
    display: flex;
    align-items: center;
    padding: 20px;
}

.footer p {
    font-weight: bolder;
}

/* Environmental Health Title */
.footer-title-container {
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
}

/* Footer Icons */
.footer-icon, .mut-45-years-logo-white-trans-icon1 {
    max-height: 50px;
    align-items: end;
}

/* Footer Links Container */
.footer-links-container {
    display: inline-block;
    text-align: center;
}

/* Ensure text in the footer is white */
.footer .enviromental-health1 {
    color: white;
    align-items: end;
}

/* Optional: Style the container holding images */
.img {
    padding-left: 20%;
}