<div class="d-flex flex-column min-vh-100">
  <!-- Main Content -->
  <div class="container-fluid flex-grow-1">
    <!-- Page Header -->
    <div class="page-header text-center my-4">
      <h1>HPCSA Dashboard</h1>
    </div>

    <div class="row">
      <!-- Sidebar -->
      <div class="col-md-3 sidebar bg-light p-3 position-sticky" style="top: 0">
        <nav class="nav flex-column">
<a class="analytics-link-bg" (click)="openAnalyticsDashboard()">
</a>



        <a class="nav-link disabled-link">
          <i class="fa fa-book"></i> Activities
          <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
        <a class="nav-link disabled-link">
          <i class="fa fa-file"></i> Declaration Letter
          <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
        <a class="nav-link disabled-link">
          <i class="fa fa-file"></i> Placements
          <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
        <a class="nav-link disabled-link">
          <i class="fa fa-microphone"></i> Guest Events
          <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
        <a class="nav-link disabled-link">
          <i class="fa fa-calendar-check-o"></i> Event Codes
          <i class="fa fa-plus" aria-hidden="true"></i>
        </a>


          <a class="nav-link text-danger" (click)="logout()">
            <i class="fa fa-sign-out"></i> Logout
          </a>
        </nav>
      </div>

      <div class="user-info-container">
        <div class="user-info">
          <i class="fa fa-user-circle" aria-hidden="true"></i>
          <span class="user-email" *ngIf="userEmail"
            >Logged: {{ userEmail }}</span
          >
          <span class="login-alert" *ngIf="!userEmail"
            >User email not found. Please log in again.</span
          >
        </div>
      </div>

      <!-- Main Content -->
      <div class="col-md-9">
        <div class="row">
          <!-- Card 1: HPCSA -->

          <div class="col-md-4 mb-4">
            <div class="card shadow">
              <div class="card-header">HPCSA</div>
              <div class="card-body text-center">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgz34uuOgsakt4yTXCUSSvZUzIWF5piDHIUw&s"
                  alt="Book"
                  width="150"
                  height="100"
                />
              </div>
              <div class="card-footer">
                <a
                  href="/student-logbook-viewer"
                  data-toggle="modal"
                  data-target="#modalProfile"
                  >View Details
                  <i class="fa fa-arrow-circle-right" aria-hidden="true"></i
                ></a>
              </div>
            </div>
          </div>
          <!-- Card 2: Log Sheets -->
          <div class="col-md-4 mb-4">
            <div class="card shadow">
              <div class="card-header text-center font-weight-bold">
                Log Sheets
              </div>
              <div class="card-body text-center">
                <i class="fa fa-files-o fa-3x" aria-hidden="true"></i>
              </div>
              <div class="card-footer text-center">
                <a href="/hpcsa-logsheets" class="btn btn-link">
                  View Logsheets
                  <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>

          <!-- Card 3: Log Sheets -->
          <div class="col-md-4 mb-4">
            <div class="card shadow">
              <div class="card-header text-center font-weight-bold">
                Log books
              </div>
              <div class="card-body text-center">
                <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
              </div>
              <div class="card-footer text-center">
                <a href="/hpcsa-logbooks" class="btn btn-link">
                  View Logbooks
                  <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>

          <!-- Card 4: Organizations -->
          <div class="col-md-4 mb-4">
            <div class="card shadow">
              <div class="card-header text-center font-weight-bold">
                Declaration Letters
              </div>
              <div class="card-body text-center">
                <i class="fa fa-file-text fa-3x" aria-hidden="true"></i>
              </div>
              <div class="card-footer text-center">
                <a href="/hpcsa-declaration" class="btn btn-link">
                  View Declaration Letters
                  <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>

          <!-- Card 5: Placements -->
          <div class="col-md-4 mb-4">
            <div class="card shadow">
              <div class="card-header text-center font-weight-bold">
                Placements
              </div>
              <div class="card-body text-center">
                <i class="fa fa-file-text fa-3x" aria-hidden="true"></i>
              </div>
              <div class="card-footer text-center">
                <a href="/hpcsa-placement" class="btn btn-link">
                  View Placemant Letters
                  <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>

          <!-- Card 6: Organizations -->
          <div class="col-md-4 mb-4">
            <div class="card shadow">
              <div class="card-header text-center font-weight-bold">
                Student's Reflections
              </div>
              <div class="card-body text-center">
                <i class="fa fa-file-text fa-3x" aria-hidden="true"></i>
              </div>
              <div class="card-footer text-center">
                <a href="/hpcsa-reflection" class="btn btn-link">
                  View Student's Reflections
                  <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>

          <!-- Card 7: Organizations -->
          <div class="col-md-4 mb-4">
            <div class="card shadow">
              <div class="card-header text-center font-weight-bold">
                Audit Report              </div>
              <div class="card-body text-center">
                <i class="fa fa-files-o fa-3x" aria-hidden="true"></i>
              </div>
              <div class="card-footer text-center">
                <a (click)="openUserManagement()" class="btn btn-link text-decoration-none">
                  View Report
                  <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>

          <!-- Card 8: Guest Lectures -->
          <div class="col-md-4 mb-4">
            <div class="card shadow">
              <div class="card-header text-center font-weight-bold">
                Guest Events
              </div>
              <div class="card-body text-center">
                <i class="fa fa-microphone fa-3x" aria-hidden="true"></i>
              </div>
              <div class="card-footer text-center">
                <a
                  (click)="navigateToEvents()"
                  class="btn btn-link"
                  style="cursor: pointer"
                >
                  View Events
                  <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>

          <!-- Card 9: Applications -->
          <div class="col-md-4 mb-4">
            <div class="card shadow">
              <div class="card-header text-center font-weight-bold">
                Applications
              </div>
              <div class="card-body text-center">
                <i class="fa fa-file fa-3x" aria-hidden="true"></i>
              </div>
              <div class="card-footer text-center">
                <a href="/hpcsa-applications" class="btn btn-link">
                  View Applications
                  <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Conditionally display footer based on the current route -->
<app-footer *ngIf="showFooter"></app-footer>



