<div class="contacts-modal">
  <div class="modal-header">
    <h2>MUT Contact Details</h2>
    <button mat-icon-button (click)="closeModal()">
      <mat-icon style="color: red">close</mat-icon>
    </button>
  </div>

  <div class="contacts-container">
    <!-- WIL Coordinator -->
    <div class="contact-card">
      <div class="contact-title">
        <mat-icon class="icon">person</mat-icon>
        <h3>WIL Coordinator</h3>
      </div>
      <p class="contact-name">Mrs T Mtshengu</p>
      <div class="contact-details">
        <a href="tel:+27318199372" class="contact-item">
          <mat-icon>phone</mat-icon> 031 819 9372
        </a>
        <a href="tel:+27734691746" class="contact-item">
          <mat-icon>smartphone</mat-icon> 073 469 1746
        </a>
        <a href="mailto:Mtshengu.thuli@mut.ac.za" class="contact-item">
          <mat-icon>email</mat-icon> Mtshengu.thuli&#64;mut.ac.za
        </a>
      </div>
    </div>

    <!-- Secretary -->
    <div class="contact-card">
      <div class="contact-title">
        <mat-icon class="icon">person</mat-icon>
        <h3>Secretary</h3>
      </div>
      <p class="contact-name">Ms Nozipho Khuzwayo</p>
      <div class="contact-details">
        <a href="tel:+27319077654" class="contact-item">
          <mat-icon>phone</mat-icon> 031 907 7654
        </a>
        <a href="mailto:Toh@mut.ac.za" class="contact-item">
          <mat-icon>email</mat-icon> Toh&#64;mut.ac.za
        </a>
      </div>
    </div>

    <!-- Head of Department -->
    <div class="contact-card">
      <div class="contact-title">
        <mat-icon class="icon">person</mat-icon>
        <h3>Head of Department</h3>
      </div>
      <p class="contact-name">Dr TT Poswa</p>
      <div class="contact-details">
        <a href="tel:+27319077653" class="contact-item">
          <mat-icon>phone</mat-icon> 031 907 7653
        </a>
        <a href="tel:+27826356897" class="contact-item">
          <mat-icon>smartphone</mat-icon> 082 635 6897
        </a>
        <a href="mailto:Poswa@mut.ac.za" class="contact-item">
          <mat-icon>email</mat-icon> Poswa&#64;mut.ac.za
        </a>
      </div>
    </div>
  </div>
</div>
