
  
  <mat-card class="content-card">
    <h2>GUIDELINES TO STUDENTS</h2>
  
    <p class="guideline-intro">
      The following are the do's and don'ts of students during WIL placement:
    </p>
  
    <p class="guideline-content">
      <strong>Students should:</strong> be loyal to the placement industry and active in its work; recognize their responsibilities to their employer or client, the public, and fellow employees; disclose any interest that they may have which may impair their professional judgment when dealing with their employer; maintain high standards of professional behavior during placement. This includes meeting the ethical expectations of the placement industry, especially with regard to confidentiality and discretion in comments to third parties; be punctual to the daily routines of the agencies in which they are placed. Professional practice requires that a framework of routine be set and maintained; meet the standard of dress required by the industry - if unsure of expectations, ask. Complete logbook daily and correctly records all activities undertaken during WIL placement.
    </p>
  
    <p class="guideline-content">
      <strong>Students should NOT:</strong> conduct themselves in a manner as to prejudice the professional status or reputation of the placement industry; make comparisons with, or statements about other members that are not based on verifiable facts; disclose confidential information of their employer related to their work or the business of their client, without the expressed authority of their employer; entertain or accept any covert reward, profit, or use (for personal gain) any information obtained in their professional capacity; misrepresent their competence nor, without disclosing its limits, undertake work beyond it.
    </p>
  

  </mat-card>
  
  