<div class="container-fluid d-flex align-items-center justify-content-center min-vh-100">
    <div class="image-container">
        <!--<img src="./environmental.png" alt="Environmental Logo" class="environmental-logo" />-->

          
          <mat-card class="home-card">
            <div class="welcome-message ">
                <img src="./logo.png" alt="Environmental Logo" style="width:15%;height:15%" />
              <h1>Welcome to<br> Mangosuthu University of Technology.</h1>
              <p class="hexagon-3">The Department of Environmental Health Presents the digital logbook.</p>
            </div>
          
            <div class="hexagon-container">
                <div class="hexagon hexagon-1" style="background-color: #E74C3C;"> <!-- Red -->
                  <span>Toxics/Waste</span>
                </div>
                <div class="hexagon hexagon-2" style="background-color: #27AE60;"> <!-- Green -->
                  <span>Infrastructure Surveillance</span>
                </div>
                <div class="hexagon hexagon-1" style="background-color: #3498DB;"> <!-- Blue -->
                  <span>Outdoor Air Quality</span>
                </div>
                <div class="hexagon hexagon-2" style="background-color: #E67E22;"> <!-- Orange -->
                  <span>Global Environmental Health</span>
                </div>
                <div class="hexagon hexagon-1" style="background-color: #34495E;"> <!-- Dark Blue -->
                  <span>Water Quality</span>
                </div>
              </div>
              
          
            <div class="section-title hexagon-2">
              <h2 style="padding-top:30px">ENVIRONMENTAL HEALTH</h2>
            </div>
          </mat-card>
          
          <!--<mat-toolbar color="accent" class="footer-toolbar">
            <span>Contact</span>
            <span class="spacer"></span>
            <img src="assets/mut_logo.png" alt="MUT Logo" class="logo">
            <span>Environmental Health</span>
          </mat-toolbar>-->
          
          
      </div>
      
  </div>
  